@import "tailwindcss";

:root {
  /* semantic colors */
  --color-primary: #4a90e2;
  --color-secondary: #0f42e9;
  --color-tertiary: #2d85f2;
  --color-success: #1ca08e;
  --color-warning: #e68116;
  --color-error: #ab001e;
  --color-info: rgb(45, 45, 45);
  --color-accent: #00106a;

  --color-bg: #fdfdfd; /* Page background */
  --color-container: #f8fafc; /* Container/Section background */
  --color-container-secondary: #e3f2fd;
  --color-card: #ffffff; /* Card background */
  --color-text: #010613;
  --color-text-muted: #64748b;

  --color-border: #e2e8f0;
  --color-hover: #eff6ff;
}

/* Page background */
.bg-bg {
  background-color: var(--color-bg);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-tertiary {
  background-color: var(--color-tertiary);
}

.bg-accent {
  background-color: var(--color-accent);
}

/* Container/Section background */
.bg-container {
  background-color: var(--color-container);
}

.bg-container-even {
  background-color: var(--color-container-secondary);
}

/* Card background */
.bg-card {
  background-color: var(--color-card);
}

/* Other utilities */
.text-primary {
  color: #2d85f2;
}
.text-secondary {
  color: var(--color-secondary);
}
.text-success {
  color: var(--color-success);
}
.text-muted {
  color: var(--color-text-muted);
}
.text-warning {
  color: var(--color-warning);
}
.text-error {
  color: var(--color-error);
}
.text-info {
  color: var(--color-info);
}
.text-accent {
  color: var(--color-accent);
}

.border-default {
  border-color: var(--color-border);
}
.bg-hover {
  background-color: var(--color-hover);
}

.bg-container-gradient {
  background: linear-gradient(
    180deg,
    #f8fafc 0%,
    /* light top */ #0071ff 50%,
    #f8fafc 100%
  );
}

/* CTA Buttons */
.btn {
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  font-weight: 500;
  transition: all 0.2s ease;
}

/* Primary CTA */
.btn-primary {
  background-color: #2d85f2;
  color: #ffffff;
}

.btn-primary:hover {
  background-color: #0b70eb;
}

/* Secondary / Outline CTA */
.btn-outline {
  background-color: transparent;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.btn-outline:hover {
  background-color: var(--color-hover);
}

/* Light CTA (on dark/gradient sections) */
.btn-light {
  background-color: var(--color-card);
  color: var(--color-text);
}

.btn-light:hover {
  background-color: var(--color-hover);
}

.swiper-button-prev,
.swiper-button-next {
  top: 50%;
  transform: translateY(-50%);
  color: white;
}
